* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

button {
    cursor: pointer;
}

button:active {
    opacity: 50%;
}