.part-6 {
    background-color: #F2F2F2;
    height: 821px;
    display: grid;
    grid-template-rows: 267px 1fr;
}

.part-6-top {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

.part-6-top-text-1 {
    color: black;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-self: center;
    margin-top: 70px;
}

.part-6-top-text-2 {
    color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    align-self: center;
    text-align: center;
    margin-top: 30px;
}

.part-6-bottom {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

.part-6-bottom-container {
    background-color: #F2F2F2;
    height: 502px;
    width: 1160px; /* 1110px + n */
    display: grid;
    grid-template-columns: 370px 370px 370px;
    gap: 25px;
}

.part-6-bottom-container-section {
    background-color: #F2F2F2;
    display: grid;
    grid-template-rows: 370px 1fr 20px;
}

.div-part-6-bottom-container-section-pic {
    background-color: #F2F2F2;
}

.img-part-6-bottom-container-section {
    width: 370px;
    height: 370px;
    object-fit: cover;
}

.p-part-6-1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
}

.p-part-6-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}